<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta charset="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatiable" content="ie=edge">
<title>Smooth scroll landing page</title>
<link rel="stylesheet" href="home.css">
</head>
<body>
<div class="container">
<nav class="navbar">
<ul>
<li><a href="#Home">HOME</a></li>
   <li><a href="#About">ABOUT</a></li>
   <li><a href="#Contact">CONTACT</a></li>
   <li><a href="#Login">SIGN IN</a></li>
</ul>
</nav>
<section id="Home">
<h1>Welcome to site</h1>
</section>

<section id="About">
<h1>About</h1>
</section>

<section id="Contact">
<h1>Contact</h1>
</section>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.jss"></script>-->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/Smooth-scroll@14.0.0/dist/Smooth-scroll.polyfills.min.js"></script>
<script src="home.js"></script>
</body>
</html>
